/*Couleur du site*/
:root {
    --dark-blue:#0065FC; /*var(--dark-blue)*/
    --ligth-blue:#DEEBFF; /*var(--ligth-blue)*/
    --dark-grey-color:#F2F2F2;  /*var(--dark-grey-color)*/
}

html {
  scroll-behavior: smooth;
}

body{
    font-family: Raleway, sans-serif;
    max-width: 1400px;
    margin: auto;
}

a{
    text-decoration: none;
}

h1, h2, h3{
    font-weight: 700;
    color: black;
}

p{
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}

header img{
    width: 50%;
    height: auto;
    margin: 40px 0 0 0;
}

nav{
    width: 28%;
}

nav a{
    color: black;
}

nav ul{
    list-style-type: none;
    display: flex;
    margin-top: 48px;
    justify-content: flex-end;
}

nav li{
    text-align: center;
}


header .activites_border_dark_blue{
    padding: 45px 34px 0 34px;
}

header .activites_border_dark_blue:hover{
    border-top: solid 3px var(--dark-blue);
    color: var(--dark-blue);    
}

header .hebergements_border_dark_blue{
    padding: 45px 34px 0 34px;
}

header .hebergements_border_dark_blue:hover{
    border-top: solid 3px var(--dark-blue);
    color: var(--dark-blue);    
}

main{
    padding-left: 3%;
    padding-right: 3%;
}

form{
    display: flex;
    width: 418px;
    border: 1px solid var(--dark-grey-color);
    border-radius: 16px;
}

label{
    border-radius: 15px;
    width: 15%;
}

#map{
    padding: 12px;
    height: 25px;
    background-color: var(--dark-grey-color);
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    height: 49px;
    padding: 10px;
    font-family: Raleway, sans-serif;
    font-weight: 550;
    font-size: 120%;
    border: 1px solid var(--dark-grey-color);
    width: 70%;
}

input::placeholder{
    color: black;
}

button{
    border: none;
    width: 131px;
    height: 49px;
    background-color: var(--dark-blue);
    border-radius: 0 15px 15px 0;
    font-family: Raleway, sans-serif;
    font-weight: 550;
    color: white;
    font: bold;  
}

#search{
    display: none;
}

/* .filtres_container h2{
    width: 54px;
    height: 21px;
    size: 18px;
} */

.filtres_container{
    display: flex;
    font-weight: bold;
    margin-top: 40px;
    
}
.filtres{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtres span{
    margin-left: 10px;
    margin-right: 20px;
    white-space: nowrap;
}

#billet,
#enfant,
#coeur,
#feu{
    margin-left: 10px;
    color: var(--dark-blue);
}

.filtre{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 2px solid var(--dark-grey-color);
    border-radius: 30px;
    margin-right: 40px;
}

.filtres :hover{
    background-color: var(--ligth-blue);
}

.reponse{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
    
.info{
    color: var(--dark-blue);
    border: 2px solid var(--dark-grey-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;  
}

.reponse span{
    margin-left: 10px;
}


.container_hebergement_populaire{
    display: flex;
    justify-content: space-between;
}

#hebergements{
    background-color: var(--dark-grey-color);
    border-radius: 25px;
    padding: 40px 40px 40px 40px;
    width: 83%;
    height: 45%;  
}

#hebergements h2{
   margin-top: 0px;
   margin-bottom: 46px;
}

.container_hebergements_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_hebergements_cards a{
    width: 29.8%;
    height: 215px;
    margin-bottom: 30px;
     
}

.container_hebergements_cards .suite{
   color: black;
}

.carte {
    background-color: white;
    padding: 4px;
    border-radius: 25px;
    box-shadow: 1px 1px 6px #7a7d7f;   
}

.container_hebergements_cards .carte img{
    width: 100%;
    height: 120px;
    border-radius: 25px 25px 0px 0px;
}

/*legende*/

.carte h3{
    padding-left: 16px;
    margin-top: 4px;
    margin-bottom: 1px; 
    font-size: 15px;
}

.carte p{
    padding-left: 16px;
    margin: 12px 0;
    font-size: 15px;
   
}

.stars{
    padding-left: 14px;
    margin: 12px 0;
}

.stars .star_grey{
    color: var(--dark-grey-color);
    padding-left: 2px;
}

.stars .b{
    color: var(--dark-blue);
    width: 12px;
    height: 12px;
    padding-left: 2px;
}

.suite{
    display: block;
    color: black;
    font-weight: 700;
    width: 107px;
    height: 21px;
    margin-top: 20px;
    
}

aside{
    background-color: var(--dark-grey-color);
    border-radius: 20px;
    padding: 30px 30px 0 30px;
    width: 39%;
    margin-left: 40px;
}


.entete_populaires{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;   
}

.entete_populaires i{
    color: var(--dark-blue);
}


.container_populaires_cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80%;
}



.container_populaires_cards .card{
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 6px #7a7d7f;
    border-radius: 20px;
    height: 140px;
    border: 5px solid white;
    overflow: hidden;   
}



.container_populaires_cards .card img{
    width: 40%;
    /*border-radius: 20px 0 0 20px;*/
    border-radius: 15px 0 0 15px;
    height: 140px;
    object-fit: cover;
}

.container_populaires_cards .card h3{
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 15px;
    
}


.container_populaires_cards .card p{
    padding-left: 10px;
    margin-top: 7px;
    font-size: 15px;
}

.legend7,
.legend8,
.legend9{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_activites{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.container_activites .card{
    box-shadow: 0px 3px 15px rgba( 0, 0, 0, 0.10);
    border-radius: 20px;
    width: 23%;
    
}

.container_activites .card img{
    width: 100%;
    height: 389px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.legend_activites{
   padding-top: 2%;
   padding-bottom: 2%;
   padding-left: 20px;
   font-weight: bold;
}

footer{
    display: flex;
	border: 1px solid #F2F2F2;
	background-color: var(--dark-grey-color);
	margin-left: 50px;
    margin-right: 50px;
    padding-top: 45px;
    padding-left: 70px;
}

footer .aide {
    width: 30%;
}

footer ul{
    list-style-type: none;
    padding: 0px;
}

footer a{
	text-decoration: none;
	color: black;
	padding-left: 20px;
    line-height: 35px;
}

footer h3{	
	padding-left: 20px;
}











    
