@media screen and (max-width:1124px){

header{
    width: 90%;
    margin: 0 auto;
}
header img{
    width: 50%;
    height: auto;
}

header .activites_border_dark_blue{
    padding: 45px 45px 0 34px;
}

nav{
    width: 50%;
}

nav ul{
    flex-wrap: nowrap;
}

main{
    padding-left: 2%;
    padding-right: 2%;
}
.filtres{
    width: 88%;
}

.filtre{
    margin-right: 20px;
    width: 30%;
    font-size: 12px;
}

.filtres_container h2{
   font-size: 20px;
}

.filtre span{
    font-size: 15px;
}


.container_hebergement_populaire{
    flex-direction: column;
}

#hebergements{
    width: 96%;
    margin-bottom: 60px;
    padding: 3%;
}


.les_populaires{
    width: 96%;
    margin-left: 0px;
    height: 278px;
    padding: 3%;
}

.container_populaires_cards{
    flex-direction: row;
}

.container_populaires_cards .card{
    width: 30%;
    height: 170px;
}

.container_populaires_cards .card img{
    height: 170px;
}

.container_populaires_cards .card h3{
    width: 100%;
    height: auto;
    margin: 5px 0;
    font-size: 16px;
}

.container_populaires_cards .card p{
    margin-bottom: 0px;
    font-size: 16px;
}

.legend7,
.legend8{
    word-break: break-word;
    width: 80%;
}

#activites h2{
    padding: 30px 0 20px 20px;
}

.container_activites{
    padding: 0 25px 60px 25px;
}

.container_activites .card{
    width: 21%;
    height: 310px;
    
}

.container_activites .card img{
    height: 250px;
   
}

.legend_activites{
    font-size: 16px;
    padding-top: 3px;
    margin-top: 3px;

}

footer{
    display: flex;
	border: 1px solid #F2F2F2;
	background-color: var(--dark-grey-color);
	margin-left: 2%;
    margin-right: 2%;
    padding-top: 0px;
    padding-left: 20px;

    
}

footer .aide{
    width: 33%;
}












































}